/bin/
/.idea/
/.playwright-mcp/
/.vscode/
/target/
/logs/
/.github/chatmodes/agentdev.chatmode.md
/.github/chatmodes/editsafe.chatmode.md
/.github/chatmodes/plan.chatmode.md
ECS.iml
Storage.ser
chat.ecs.txt