<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test Login</title>
</head>
<body>
    <h1>Test Login</h1>
    
    <div th:if="${param.error}" style="color: red;">
        <p>Login failed - check username/password</p>
    </div>
    
    <form th:action="@{/login}" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" value="test" required>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" value="test" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
    
    <p>Credentials: test/test</p>
</body>
</html>
